/*............... 
fonts 
..............*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*.....................>>>
......... common styles or utilities............
..........................>>>>> */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
   justify-content: space-between;
}
#title-head{
    font-size: 28px;
    color:  #3A3A3A;
    margin-left: 120px;
}
.start-journey{
    width: 582px;
    height: 270px;
    margin-left: 120px;
}
h1{
    font-size: 52px;
    color: #3A3A3A;
}
.prebook{
    font-size: 16px;
    color: #3A3A3A;
}
.btn{
    
    text-decoration: none;
    text-align: left;
    background-color: #E02C6D;
    background-image: linear-gradient(orange red);
    font-weight:bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 18px 50px;
    border-radius: 41px;
}
.fas{
    margin-left:8px;
}
.cannon{
    width: 475px;
    height: 475px;
    background-image: url(images/back\ gound.png);
    background-repeat: no-repeat;
    margin-left: 400px;
}
hr{
    border: 2px solid #D1D1D1;
    margin-bottom: 5px;
}
.popular-collection{
    margin-top: 325px;
}
.section-title{
    font-size: 28px;
    margin-left: 388px;
}
.populars{
    width: 1050px;
    height: 1500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0;
    /* grid-column-gap: 3px; */
    background-color: rgb(245, 232, 247);
}
.popular{
    width: 329px;
    height: 476px;
    /* color: #F5F5F4; */
    background-color: rgba(228, 247, 206, 0.479);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.50);
    border-radius: 5px;

}

.popular-banner img{
    width: 300px;
    height: 256px;
    margin-left: 14px;
    margin-top: 10px;
}
.tripod-title{
    font-size: 28px;
    margin-left: 14px;
    margin-top: -5px;
}
#price{
    font-size: 24px;
    margin-left: 14px;
    margin-top: -15px;

}
.fa-star.field{
    color: #FFC014;
    margin-left: 14pxs;
}
.fa-star{
    color: #AEAEAE;
    font-size: 12px;

}
.text-detail{
    font-size: 14px;
    margin-left: 14px;
}
.See-More{
    margin-left: 925px;
    display: flex;
}

.See{
    color:rgba(224, 44, 109, 0.87);
    font-size: 16px;
    /* margin-left: 3px; */
    
}
/* footer */

.foot-wash{
    padding: 10px;
    text-align: center;
    background-color: rgb(3, 6, 43);
    /* align-items: center; */
    color: white;
}
#foot{
    font-size: 28px;
}
.foot2 .foot3{
    font-size: 14px;
}
.fab{
    width: 50px;
    height: 20px;
}
 /*@@@@@@@@@@@@@@@@@@ 
   Media Queries
 @@@@@@@@@@@@@@@@@ */
/* Mobile devices
................ */
@media only screen and(max-width:688px){
    .container, .popular-collection, .foot-wash{
        width: 100%;
    }
    .start-journey, .cannon, .popular, .foot-wash{
        grid-template-columns:repeat(1,1fr);
    }
    .start-journey, .cannon, .popular, .foot-wash{
        flex-direction: column;
        align-items: center;
    }
    .foot-wash{
        align-items: center;
    }
        
    
}
/* tablet device */
@media only screen and(min-width:688px) and (max-width:992px) {
    .container .popular-collection, .cannon .foot-wash{
        width: 100%;
    }
    .start-journey, .popular, .cannon .foot-wash{ 
        grid-template-columns: repeat(2, 2fr);
    }
    .start-journey, .popular, .cannon .foot-wash{
        flex-direction: column;
        align-items:center;
    }
    
}

